.mypy_cache/
.idea/
.pytest_cache/
poetry.lock

*.pyc
*.mp4
*.pfx
*.pem
*.lock
*.whl

*.full.zip

**/logs/**
**/models/*.h5
**/.ipynb_checkpoints/*.ipynb

environment.txt
exports.txt
gcp-svc.json

/data/
/dev/images/
/dev/apex_images/
/dev/video/
/dev/errors
/twitch_overlay/scoreboard/build
/games/
/logs/
/training/owl/chunk*
