.mypy_cache/
.idea/
.pytest_cache/

*.pyc
*.mp4
*.pfx
*.pem
*.lock
*.whl

*.full.zip

**/logs/**
**/models/**
**/.ipynb_checkpoints/*.ipynb

environment.txt
exports.txt
gcp-svc.json

/data/
/dev/images/
/twitch_overlay/scoreboard/build
/games/
/logs/
/training/owl/chunk*
