requests
simplejson
dataclasses
python-dateutil
pyjwt
dill
werkzeug

numpy
scipy
editdistance

tensorflow

# apt install -y libsm6 libxext6
opencv-python

# apt install -y tesseract-ocr libtesseract-dev libleptonica-dev
tesserocr


# streamlink
