# general
requests
dataclasses
python-dateutil
shortuuid
tqdm

# web server
sanic
# vibora

# specialised overtrack processing
# apt install -y python3.6-dev libsm6 libxext6 tesseract-ocr libtesseract-dev libleptonica-dev
opencv-python
tensorflow
tesserocr
numpy
scipy
editdistance
typedload

# apt install -y python-dev pkg-config libavformat-dev libavcodec-dev libavdevice-dev libavutil-dev libswscale-dev libswresample-dev libavfilter-dev
av

# for twitch access
streamlink
pyjwt

# for overtrack game uploading
pynamodb

# for ingest master/slave
# python-digitalocean
# pip version is out of date - tag creation is fixed in master
https://github.com/koalalorenzo/python-digitalocean/archive/master.zip

#datadog
#datadog-logger
google-cloud-logging
sentry-sdk





