# general
requests
dataclasses
python-dateutil
shortuuid

# web server
sanic
# vibora

# specialised overtrack processing
# apt install -y libsm6 libxext6 tesseract-ocr libtesseract-dev libleptonica-dev
opencv-python
tensorflow
tesserocr
numpy
scipy
av
editdistance
typedload

# for twitch access
streamlink
pyjwt

# for overtrack game uploading
pynamodb

# for ingest master/slave
# python-digitalocean
# pip version is out of date - tag creation is fixed in master
https://github.com/koalalorenzo/python-digitalocean/archive/master.zip


#datadog
#datadog-logger
#google-cloud-logging
sentry-sdk





